
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid col-10">
      <a class="navbar-brand" href="/listings"><div class="brand logo ">HotelHub</div></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <i class="fa-solid fa-bars menu-icon"></i>
      </button>
      <div class="collapse nav-background navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 input-search" type="search" placeholder="Search Destination.." aria-label="Search">
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto nav-items-2">
          <a class="nav-link" href="/listings">Explore</a>
          <a class="nav-link new-listing" href="/listings/new">Add new Listing</a>
          <% if(!currUser) { %> 
            <a class="nav-link" href="/signup"><div class="Sign-Log-a">SignUp</div></a>
            <a class="nav-link" href="/login"><div class="Sign-Log-a">LogIn</div></a>
          <% } %>
          <% if(currUser) { %> 
          <a class="nav-link" href="/logout"><div class="Sign-Log-a">SignOut</div></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>